


body{
    background-image: url("11.png");
    background-size: cover;
    height:600px;
}

h1{
    font-size: 50x;
    color:white;
    margin-top: 20px;

}
.row{

    background:#34495e;
     height:80px;  
    
    }
.logo{
    margin:22px 50px;
    height: 85px;
    margin-top: 8px;

}


.form-control{
border:15px;
border-radius: 100px;
height: 45px;
font-size: 23px;


}
ul li{
    display: inline-block;
    margin: 10px 5px;
}
li a{
    text-decoration: none;
    font-size: 15px;
}
ul li a{
    text-decoration: none;
    padding: 10px 30px;
    letter-spacing: 3px;
    color:#fdfdfd;
    border-bottom: 1px solid white;
    transition:0.3s;

}
.btnn span{
    display:block;
    margin:6px;
    width:40px;
    height:3px;
    background: white;

}

.btnn{
    display:none;
    position: absolute;
    right:20px;
}
.btnn:hover >span{
background: #eb0b37;
}
p{
    font-size: 19px;
    color:white;
    margin-top: 90px;
}
.menu{ 
    position: absolute;
    right:100px;
    display: inline-block;
} 

ul li{
    display: inline-block;
    margin: 10px 5px;
}
.btn-danger{
    width:130px;
    margin-left: 150px; 
    border-radius:50px;
    margin-bottom: 25px;
position: absolute;
}
.s{

    background:white;

    top:60%;
    transform: translate(-50%, -50%);
    width:400px;
    height:350px;
    position:absolute;
    left:50%;
    
}


        .navbar-nav li a:hover{
            background:rgb(199, 74, 74);
           color:white; 
        
        }
        p{
            color:black;
        }
        @media only screen and (max-width:600px){
            .navbar{
                overflow: visible;
              
            }
           .menu{
                width:100%;
                right:0;
                top:10%;
                background:#34495e;
                overflow: hidden;
                max-height: 0;
            }
            
        ul li a{
                display: flex;
                text-align:center;
                margin:0;
        
            }
             
            .btnn{
                display:block;
                cursor:pointer;
                margin-top: 20px;
        
            }
            .show{

                max-height: 500px;
            }
        
            .s{
                top:95%;
            }
        }