.requis{
    color:red;
}

.logo{
    margin-top: 6px;
    margin-right: 0px;
}
div#cPhoto {
    color: orange;
}
.navbar-inverse .navbar-nav>li>a.active {
    color: red;
}
.tab-content{
    display: none
}
.tab-content.active{
    display: block0
}